/database/__pycache__
/dependencies/__pycache__
/__pycache__
/models/__pycache__
/utils/__pycache__
/logs
/giftshop_app/__pycache__
/giftshop_app/database/__pycache__
/giftshop_app/dependencies/__pycache__
/giftshop_app/logs
/giftshop_app/models/__pycache__
/giftshop_app/utils/__pycache__
/reward_app/__pycache__
/reward_app/core/__pycache__
/reward_app/database/__pycache__
/reward_app/docs/__pycache__
/reward_app/middleware/__pycache__
/reward_app/models/__pycache__
/reward_app/routes/__pycache__
/reward_app/service/__pycache__
/reward_app/utils/__pycache__
